.form {
  .add-button {
    padding: 8px;
    min-width: 20px;
    width: 31px;
    font-weight: bold;
    display: none;

    .icon {
      position: relative;
      left: -1px;
      font-size: 11px;
    }
  }

  .series-list {
    list-style-type: none;
    padding: 0;

    li:last-child {
      .add-button {
        display: inline-block;
      }
    }
  }
}