.list {
  list-style-type: none;
  padding: 0;

  .item {
    margin: 0px 0 @size-smaller / 2 @size-small;
    position: relative;
    line-height: 20px;

    h4 {
      display: inline;
      .font-default();
    }

    .icon {
      position: relative;
      top: 1px;
      font-size: 12px;
      color: @gray-light;
      cursor: pointer;

      .icon-checkmark {
        position: absolute;
        top: 7px;
        right: 2px;
        color: @black;
        font-size: 5px;
        display: none;
      }

      &:hover {
        color: @black;

        .icon-checkmark {
          display: block;
        }
      }

    }

    &.movie-watched,
    &.series-watched,
    &.documentary-watched {
      .font-light();
      color: @gray;
      h4 {
        .font-light();        
      }
    }

    &:before {
      content: '\2013 ';
      position: absolute;
      left: -@size-small;
    }
  }
}

.loading {
  position: relative;
  padding-left: 30px;
  color: @orange;
  .font-bold();

  .icon-spinner {
    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
    animation: spin 2s linear infinite;
    transform-origin: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    top: -2px;
    left: 0px;
    font-size: 20px;
  }
}
@-webkit-keyframes spin { 100%
  {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin { 100%
  {
  -webkit-transform: rotate(360deg);
  transform:rotate(360deg);
  }
}
