.list {
  list-style-type: none;
  padding: 0;

  .item {
    margin: 8px 0;

    h4 {
      display: inline;
      .font-bold();
    }

    .icon {
      position: relative;
      top: 1px;
      font-size: 12px;
      color: @gray-light;
    }

    &.movie-watched,
    &.series-watched,
    &.documentary-watched {
      .font-light();
      color: @gray;
      h4 {
        .font-light();        
      }
    }

    &:before {
      content: '\2013 ';
    }
  }
}

.filter {
  label {
    display: inline-block;
    width: @size-large;
    padding: @size-smaller / 2 0;

    &:after {
      content: ':';
    }
  }
  ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: @size-smaller;

    li {
      margin: 0 @size-smaller / 2 @size-smaller / 2 0;

      a {
        display: inline-block;
        padding: @size-smaller @size-small;
        background-color: @beige;
        border-radius: @border-radius-default;
        text-decoration: none;
        color: white;

        &:hover,
        &.active {
          color: @beige-dark;
        }
        &.active {
          .font-bold();
          cursor: default;
        }
      }
    }
  }
}

@media screen and (max-width:400px) {
  .filter {
    label {
      display: block;
    }

    ul {
      flex-wrap: wrap;

      li {
        a {
          padding: @size-smaller / 2 @size-small / 2;

        }
      }
    }
  }
}
