.view {


  .buttons {
    display: flex;
    width: 400px;

    button + button {
      margin-left: @size-smaller;
    }
  }

  .actors {
    ul {
      .ul();
    }
  }


  .seasons {
    list-style-type: none;
    padding: 0;

    .season-title {
      margin: 8px 0 4px;
      .font-bold();

      .season-year {
        .font-light();
      }
    }
  }
}