<div ng-controller="FormFieldsController">
  <div class="form-item form-item-required">
    <label>Type</label><select ng-model="itemType" ng-options="type.type as type.name for type in types"></select>
    <svg class="select-arrow" width="100px" height="63px" viewBox="0 0 100 63" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon points="25.2873563 0 0 0 50 0 74.7126437 0 50 31.8333333"></polygon>
    </svg>
  </div>
  <div class="form-item form-item-required form-item-name" auto-focus>
    <label>Name</label><div class="form-input-group"><input type="text" name="name" ng-required="true" placeholder="Name" ng-model="item.name"/><button class="search-button action" type="button" ng-click="search()" ng-disabled="searching || !item.name">
        <i class="icon icon-search" ng-hide="searching"></i>
      </button>
      <i class="icon icon-spinner" ng-show="searching"></i>
      <ul class="suggestions" ng-show="suggestions.length">
        <li ng-repeat="suggestion in suggestions">
          <a href="javascript:void(0)" ng-click="choose(suggestion)">
            <i class="icon icon-{{suggestion.Type}}"></i>
            <span ng-bind="suggestion.Title + '(' + suggestion.Year + ')'"></span>
          </a>
        </li>
        <li class="suggestions-count">There are <span ng-bind="totalSuggestions"></span> results</li>
      </ul>
    </div>
  </div>
  <div class="form-item form-item-required" ng-if="!isSeries()">
    <label>Year</label><input type="text" integer ng-required="true" placeholder="2016" class="year" ng-model="item.year" />
  </div>
  <div class="form-item form-item-required" ng-if="isMovie() || isSeries() || isGame()">
    <label>Plot</label><textarea ng-required="true" placeholder="Plot" ng-model="item.plot"></textarea>
  </div>
  <div class="form-item form-item-required" ng-if="isMovie()">
    <label>Director</label><input type="text" ng-required="true" placeholder="Name" ng-model="item.director" />
  </div>
  <div class="form-item form-item-required" ng-if="isMovie()">
    <label>Runtime</label><input type="text" ng-required="true" placeholder="100 min" class="length" ng-model="item.length" />
  </div>
  <ul class="series-list" ng-if="isSeries()">
    <li ng-repeat="season in item.seasons">
      <div class="form-item form-item-required">
        <label>Season <span ng-bind="$index + 1"></span> year</label><div class="form-input-group">
          <input type="text" integer ng-required="true" placeholder="{{2016 + $index}}" class="year" ng-model="season.year" />
          <button class="add-button option" type="button" ng-click="addSeason()"><i class="icon icon-plus"></i></button>
        </div>
      </div>
    </li>
  </ul>
  <div class="form-item" ng-if="!isDocumentary()">
    <label>Actors</label><input type="text" placeholder="Actor, actor" ng-model="item.actors" />
  </div>
  <div class="message form-message warning" ng-show="doubles.length">
    <i class="icon icon-warning"></i>
    <div class="message-content">
      <p>Did you mean the following?</p>
      <ul>
        <li ng-repeat="double in doubles">
          <span ng-bind="double.name"></span>
          <span class="bracketed" ng-bind="double.year"></span>,
          <span ng-bind="getTypeName(double)"></span>
        </li>
      </ul>
    </div>
  </div>
</div>