
.hidden {
  display: none;
}

.clickable() {
  cursor: pointer;
}

.clickable {
  .clickable();
}

.unselectable() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.unselectable {
  .unselectable();
}

.spaced {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.capitalize {
  text-transform: capitalize;
}
.lowercase {
  text-transform: lowercase;
}

.bracketed {
  &:before {
    content: ' (';
  }
  &:after {
    content: ')';
  }
}

.dashed-small:before {
  content: '\2012';
  margin: 0 0.25em;
}.dashed:before {
  content: '\2013';
  margin: 0 0.25em;
}

.ul {
  list-style-type: none;
  padding: 0;

  li {
    position: relative;
    padding-left: @size-small;

    &:before {
      content: '\2013 ';
      position: absolute;
      left: 0;
    }
  }
}
