<li class="item series" ng-class="{'movie-watched': item.watched}">
  <a href="#/edit/{{item.path}}" ng-click="void(0)">
    <h4 ng-bind="item.name"></h4>
    <span class="bracketed"><span ng-bind="item.year"></span> - <span ng-bind="item.lastYear"></span>,
      <span ng-bind="item.seasons.length"></span>
      <span> season<span ng-show="item.seasons.length > 1">s</span></span></span>
    </a>
    <i class="icon icon-series" ng-click="toggleWatched($event, item)">
      <i class="icon-checkmark" ng-show="item.imdbId"></i>
    </i>
</li>