<form name="itemForm" class="form" ng-submit="editItem()">
<h2>Edit <i class="spaced" ng-bind="item.name"></i><span class="dashed">season<span class="spaced" ng-bind="season.nr"></span></span></h2>
  <p>Update and complete the information for this season</p>

  <button class="update-season-button option" type="button" tooltip="'Update season episodes'|top"  ng-click="updateSeason(item, season.nr)">
    <i class="icon icon-series" ng-hide="updating"></i>
    <i class="icon icon-spinner" ng-show="updating"></i>
    Update season
  </button>  

  <div class="form-item form-item-required">
    <label>Number</label><input type="text" integer disabled ng-required="true" placeholder="1" class="year" ng-model="season.nr" />
  </div>

  <div class="form-item form-item-required">
    <label>Year</label><input type="text" integer ng-required="true" placeholder="2016" class="year" ng-model="season.year" />
  </div>

  <h3>Episodes</h3>
  <ul class="episode-list">
    <li ng-if="season.episodes[0].nr !== 1">
      <div class="form-item">
        <label></label>
        <div class="form-input-group form-input-group-right">
          <button class="add-button option" type="button" ng-click="addEpisode(null)">
            <i class="icon icon-plus"></i>
          </button>
        </div>
      </div>
    </li>
    <li ng-repeat="episode in season.episodes">
      <div class="form-item">
        <label>Episode <span ng-bind="episode.nr"></span></label><div class="form-input-group">
          <input type="text" integer ng-required="true" class="year" ng-model="episode.nr" />
          <input type="text" ng-required="true" ng-model="episode.title" />
          <button class="add-button option" type="button" ng-click="addEpisode(episode)" ng-show="isInSequence(episode)">
            <i class="icon icon-plus"></i>
          </button>
        </div>
      </div>
    </li>
  </ul>

  <div class="buttons">
    <div class="button-container">
      <button type="submit">Edit</button>
    </div>
    <button type="cancel" ng-click="back()">Cancel</button>
  </div>
</form>