<form name="itemForm" class="form" ng-submit="editItem()">
  <h2>Edit</h2>
  <p>Update and complete the information for this <span class="lowercase" ng-bind="getTypeName(item)"></span></p>

  <form-fields></form-fields>

  <related-movies ng-show="isMovie()"></related-movies>

  <div class="buttons">
    <div class="button-container">
      <button type="submit">Edit</button>
    </div>
    <button type="button" class="danger" ng-click="delete()">Delete</button>
    <button type="cancel" ng-click="back()">Cancel</button>
  </div>
</form>