<div class="series">
  
  <div ng-show="item.plot">
    <h4>Plot</h4>
    <p ng-bind="item.plot"></p>
  </div>
  <ul class="seasons">
    <li ng-repeat="season in item.seasons">
      <p class="season-title">
        Season <span ng-bind="season.nr"></span>
        <span class="season-year bracketed" ng-bind="season.year"></span>
        <a href="javascript:void(0)" ng-click="editSeason(season)">Edit</a>
      </p>
      <ul class="episodes">
        <li ng-repeat="episode in season.episodes">
          <p class="episode-title" ng-class="{'episode-watched': episode.watched}">
            <span ng-bind="episode.nr" class="episode-nr"></span>
            <span class="episode-name"ng-bind="episode.title"></span>
            <i class="icon icon-series" ng-click="toggleWatched($event, episode)"></i>
          </p>
        </li>
      </ul>
    </li>
  </ul>

</div>