<div class="series">
  
  <div ng-show="item.plot">
    <h4>Plot</h4>
    <p ng-bind="item.plot"></p>
  </div>

  <ul class="seasons">
    <li ng-repeat="season in item.seasons">
      <p class="season-title">Season <span ng-bind="season.nr"></span><span class="season-year bracketed" ng-bind="season.year"></span></p>
      <ul>
        <li ng-repeat="episode in season.episodes">
          <p class="season-title"><span ng-bind="episode.nr"></span> <span class="episode-name" ng-bind="episode.title"></span></p>
        </li>
      </ul>
    </li>
  </ul>

</div>