<div class="view">
  <h2 ng-bind="item.name"></h2>

  <h3>
    <span ng-bind="item.year"></span><span ng-show="item.lastYear"> – <span ng-bind="item.lastYear"></span></span>
    <span ng-bind="getTypeName(item)"></span>
    <span ng-show="item.imdbId" class="dashed"><a href="http://www.imdb.com/title/{{item.imdbId}}/" target="_new">IMDB</a></span>
  </h3>

  <ng-include src="getItemViewTemplate()"></ng-include>

  <div class="actors" ng-show="item.actors && item.actors.length">
    <h4>Actors</h4>
    <ul>
      <li ng-repeat="actor in item.actors|orderBy:actor" ng-bind="actor"></li>
    </ul>
  </div>


  <div class="links">
    <a href="javascript:void(0)" ng-click="edit()">Edit</a> / 
    <a href="javascript:void(0)" ng-click="back()">Back</a>
  </div>
</div>